@import "../styles/settings-page";
@import "../styles/navbar";
@import "../styles/buttons";
@import "../styles/footer";

nav {
  .menu {
    &:hover a:not(:hover) {
      color: $white;
    }
    a:nth-of-type(2) {
      color: $primary;
    }
  }
}

// *TITRE
h1 {
  max-width: 1200px;
  width: 95%;
  margin: 24px auto 96px;
}

// *GALLERY-CONTAINER
.gallery-container {
  max-width: 1200px;
  width: 95%;
  margin: 24px auto 96px;
  h2 {
    padding-bottom: 48px;
  }
  .images-container ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 24px;
    &::after {
      content: "";
      display: block;
      flex-grow: 10;
    }

    li {
      height: 250px;
      flex-grow: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
