// *BANNER
.banner {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto 96px;
  position: relative;
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }
  a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
  }
}

//
//
// *----------
// *RESPONSIVE
// *----------
@media screen and (max-width: 775px) {
  .banner {
    margin: 0 auto 48px;
  }
}
@media screen and (max-width: 600px) {
  .banner {
    width: 100%;
  }
}
