//* FONTS
// Logo
@font-face {
  font-family: "KaushanScript-Regular";
  src: url(../fonts/KaushanScript-Regular.ttf);
}
$logo: KaushanScript-Regular, sans-serif;
// Police sans-serif
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
$bodybold: Montserrat-Regular, sans-serif;
@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
$body: Montserrat-Regular, sans-serif;
// Police serif
@font-face {
  font-family: "Merriweather-Bold";
  src: url(../fonts/Merriweather-Bold.ttf);
}
$blogbold: Merriweather-Bold, serif;
@font-face {
  font-family: "Merriweather-Regular";
  src: url(../fonts/Merriweather-Regular.ttf);
}
$blog: Merriweather-Regular, serif;
//
//
// * COLORS
// Background
$backgroundblack: #001a0f;
$backgroundgrey: #7f8f88;
$backgroundwhite: #f2fffa;
//Writing
$black: #19000b;
$white: #fff2f8;
//Branding
$primary: #e02472;
$secondary: #f084b1;
//Supporting
$redtext: #7d0a0a;
$redicon: #e02424;
$redbutton: #f08484;
$redbackground: #fff2f2;
$orangetext: #7d430a;
$orangeicon: #e08224;
$orangebutton: #f0ba84;
$orangebackground: #fff9f2;
$greentext: #0a7d0a;
$greenicon: #24e024;
$greenbutton: #84f084;
$greenbackground: #f2fff2;
$bluetext: #0a0a7d;
$blueicon: #2424e0;
$bluebutton: #8484f0;
$bluebackground: #f2f2ff;
//
//
// *GENERAL SETTINGS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $body;
  font-size: 1rem;
  color: $black;
}
*::selection {
  background: $secondary;
  color: $black;
}
body {
  background: $backgroundwhite;
}

img {
  border-radius: 8px;
}
//
//
// *TEXT STYLES
#logo {
  font-family: $logo;
  font-size: 1.6rem;
  color: $white;
}
h1 {
  font-family: $bodybold;
  font-weight: bold;
  font-size: 2.2rem;
}
h2 {
  font-family: $bodybold;
  font-weight: bold;
  font-size: 1.9rem;
}
h3 {
  font-family: $bodybold;
  font-weight: bold;
  font-size: 1.6rem;
}
h4 {
  font-family: $bodybold;
  font-weight: bold;
  font-size: 1.3rem;
}
a {
  font-family: $bodybold;
  font-weight: bold;
  font-size: 1.1rem;
  color: $white;
  &:hover {
    color: $primary;
  }
}
i {
  font-family: $bodybold;
  font-weight: bold;
  font-size: 1.3rem;
  color: $white;
  &:hover {
    color: $primary;
  }
}
.blog-title {
  font-family: $blogbold;
}
.blog-body {
  font-family: $blog;
}
//
//
// *----------
// *RESPONSIVE
// *----------
@media screen and (max-width: 1000px) {
  * {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1rem;
  }
  i {
    font-size: 1rem;
  }
  a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  * {
    font-size: 0.8rem;
  }
}
